.card-padding {
  padding: 0 15px;
}

.card-summary {
  font-weight: bold;
  color: #5A626B;
  margin: 0;
  padding: 0; 
}

.card-summary-text {
  font-size: small;
}

.card-summary-value {
  font-size: xx-large;
}


ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: "......................................................................................................................................................................................................................................................";
  color: #C6CFD5;
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white}

  ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: white
}

ul.leaders li {
  margin: 10px 0
}

.card-transaction-values {
  font-weight: bold;
}


.card-transaction-text {
  font-size: small;
}


.card-title {
  color: #064B9C;
  font-weight: bold;
  font-size: x-large;
}
