h2 {
  font-family: $primary-font;
}

p {
  font-family: $secondary-font;
}

span {
  font-family: $secondary-font;
}

.card-padding {
  padding: 0 15px;
}

.card-summary {
  font-weight: bold;
  color: #5A626B;
  margin: 0;
  padding: 0; 
}

.card-summary-text {
  font-size: small;
}

.card-summary-value {
  font-size: x-large;
}

ul.leaders {
 
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: "............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
  color: #C6CFD5;
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white}

  ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: white
}

ul.leaders li {
  margin: 10px 0
}

.card-transaction-values {
  font-weight: bold;
}

.card-transaction-text {
  font-size: small;
}

.card-title {
  color: $dark-blue;
  font-weight: bold;
  font-size: x-large;
}

.card-detailed-transaction {
  margin: 12px 0;
}

.card-detailed-transaction p {
  margin: 0;
}

.card-detailed-transaction img {
  margin-right: 12px;
}

.card-detailed-transaction .text {
  
}

.card-detailed-transaction .category {
  font-size: small;
  color: $medium-gray; 
}

.card-order-date {
  color: $medium-gray;
}

.card-detailed-transaction .value {
  font-weight: bold;
  p {
    font-family: $secondary-font;
    font-size: small;
  }
  span {
    font-size: large;
  }
}

.card-tag-nickname {
  font-size: larger;
  margin: 15px 0;
  font-weight: bold;
}

.card-detailed-transaction .discount {
  font-size: small;
  color: $clear-blue;
}
