.tag_info_banner {
  color: rgb(241, 240, 240);
  min-height: 40vh;
  max-height: 45vh;
  background-size: cover;
  padding: 1.5rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
  h1 {
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 6rem;
  }
  a {
    text-shadow: none;
    padding: 0.5rem 3rem;
  }
}

.vantagens_card {
  width: calc(100% - 3rem);
  margin: 2rem auto 0 auto;
  min-height: 40vh;
  max-height: 45vh;
  .header {
    color: #064b9c;
    font-family: Ubuntu;
    font-weight: bold;
    border-bottom: 0.75px solid grey;
  }
  .body {
    margin: 2rem 0 0 2rem;
    ul {
      list-style: none;
      li {
        margin-bottom: 1rem;
      }
    }
  }
}
