.tag_card {
  background: rgba(9, 112, 230, 0.06);
  width: calc(100% - 2rem);
  margin: 0 auto 2rem auto;
  padding: 1.3rem;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 13px 15px -4px rgba(30, 30, 60, 0.25);
  text-decoration: none;
  color: #524e4e;

  p {
    margin-bottom: 1rem;
  }
  .tag_card_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .car_info {
      width: 100%;
      margin: 0 auto;
      .info {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.new-vehicle {
  float: right;
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem 3rem;
}

.empty-question {
  margin: 1rem;
  font-family: $secondary-font;
  color: $dark-gray;
  font-size: 1.2rem;
  text-align: justify;
}
