<div class="low-navbar d-flex justify-content-around">

  <div class="home">
    <i class="fas fa-home nav-icon"></i>
  </div>
  <div class="credit-card">
    <i class="far fa-credit-card nav-icon"></i>
  </div>
  <div class="tag">
    <i class="fas fa-car nav-icon"></i>
  </div>
  <div class="profile">
    <i class="fas fa-user nav-icon"></i>
  </div>

</div>
