<div class="greeting">

</div>

<div class="balance d-flex justify-content-between align-items-center">

</div>

<div class="actions">

</div>

<div class="carrefour-tag">

</div>

<div class="activity">

</div>
