<div class="greeting d-flex justify-content-between align-items-center">
  <img src="https://kitt.lewagon.com/placeholder/users/danilogcastro" class="avatar">
  <div class="user-info flex-grow-1">
    <p class="name">Olá, Danilo</p>
    <p class="credit-card">**** **** **** 3457</p>
  </div>
  <div class="notifications">
    <i class="far fa-bell notification-icon"></i>
    <div class="notification-count">98</div>
  </div>
</div>

<div class="balance">
  <div class="balance-info d-flex justify-content-between align-items-end">
    <div class="available-limit">
      <p>DISPONÍVEL</p>
      <h2>R$ <span>850,</span>59</h2>
    </div>
    <p>AUMENTAR LIMITE</p>
  </div>
  <div class="limit">
    <div class="limit-bar"></div>
    <p class="limit-info">Limite Total R$ <span>4.000,</span>00</p>
  </div>
</div>

<div class="actions">

</div>

<div class="carrefour-tag">

</div>

<div class="activity">

</div>
