<div class="greeting">
  <h2>Olá, Danilo Castro</h2>
</div>

<div class="balance d-flex justify-content-between align-items-center">
  <div class="balance-info">
    <h4>Saldo</h4>
    <h1>R$ 98,00</h1>
  </div>
  <div class="view">
    <i class="fas fa-eye"></i>
  </div>
</div>

<div class="actions">

</div>

<div class="carrefour-tag">

</div>

<div class="activity">

</div>
