<div class="greeting d-flex justify-content-between align-items-center">
  <img src="https://kitt.lewagon.com/placeholder/users/danilogcastro" class="avatar">
  <div class="user-info flex-grow-1">
    <p class="name">Olá, Danilo</p>
    <p class="credit-card">**** **** **** 3457</p>
  </div>
  <div class="notifications">
    <i class="far fa-bell notification-icon"></i>
    <div class="notification-count">98</div>
  </div>
</div>

<div class="balance d-flex justify-content-between align-items-center">

</div>

<div class="actions">

</div>

<div class="carrefour-tag">

</div>

<div class="activity">

</div>
