<h2 style="margin: 1rem;"> Olá, <%= current_user.first_name %> </h2>


<div class="tag_info_banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path 'carro_popular.png' %>)">
  <h1>Carrefour Tag</h1>
  <p>Solicite seu adesivo e aproveite as vantagens que o Carrefour TAG oferece!</p>
  <%= link_to "Peça agora!", new_tag_path, class: "new-tag-button" %>

</div>

<div class="vantagens_card">
  <div class="header">
    <h4>Vantagens</h4>
  </div>
  <div class="body">
    <ul>
      <div class="feature-item">
        <li class="item-header">Cobertura Nacional</li>
        <li class="item-body">Aceita em Pedágios, Estacionamentos e Postos Carrefour por todo o Brasil *</li>
      </div>
      <div class="feature-item">
        <li class="item-header">Isenção de Mensalidade</li>
        <li class="item-body">Para quem abastece nos postos Carrefour **</li>
      </div>
      <div class="feature-item">
        <li class="item-header">Integrada a seu APP</li>
        <li class="item-body">Acompanhe sua utilização no seu APP do cartão Carrefour</li>
      </div>
    </ul>
  </div>
</div>
