<h2 style="margin: 1rem;"> Olá, <%= current_user.first_name %> </h2>


<div class="tag_info_banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path 'carro_popular.png' %>)">
  <h1>Carrefour Tag</h1>
  <p>Solicite seu adesivo e aproveite as vantagens que o Carrefour TAG oferece!</p>
  <%= link_to "Peça agora!", new_tag_path, class: "new-tag-button" %>

</div>

<div class="vantagens_card">
  <div class="header">
    <h4>Vantagens</h4>
  </div>
  <div class="body">
    <ul>
      <div class="feature-item d-flex align-items-center">
        <div class="feature-icon">
          <i class="fas fa-car"></i>
        </div>
        <div>
          <li class="item-header">Cobertura Nacional</li>
          <li class="item-body">Aceita em Pedágios, Estacionamentos e Postos Carrefour por todo o Brasil *</li>
        </div>
      </div>
      <div class="feature-item d-flex align-items-center">
        <div class="feature-icon">
          <i class="fas fa-hand-holding-usd"></i>
        </div>
        <div>
          <li class="item-header"> Isenção de Mensalidade</li>
          <li class="item-body">Para quem abastece nos postos com bandeira Carrefour **</li>
        </div>
      </div>
      <div class="feature-item d-flex align-items-center">
        <div class="feature-icon" style="margin-right: 1.7rem;">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <div>
          <li class="item-header"> Integrada a seu APP</li>
          <li class="item-body">Acompanhe sua utilização no seu APP do cartão Carrefour</li>
        </div>
      </div>
    </ul>
    <div class="ressalvas">
      <p>*Consulte os postos habilitados para pagamento com a TAG</p>
      <p>**Desconto progressivo para abastecimentos podendo chegar a zero para quem abastece acima de 500 reais no mês usando a TAG</p>
    </div>
  </div>
</div>
