.carrefour-btn-primary{
  background-color: #0970E6;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
}

.carrefour-btn-outline-primary{
  background-color: white;
  color: #0970E6;
  font-weight: bold;
  padding: 9px 17px;
  border-radius: 25px;
  text-align: center;
  border: 3px #0970E6 solid;
}