// Balance Card

.balance {
  border: 1px solid $medium-gray;
  padding: 24px;
  margin: 8px 20px;
  border-radius: 8px;
  color: $dark-gray;
  h1 {
    font-weight: bold;
    font-family: $primary-font;
  }
  h4 {
    font-size: 1rem;
    color: $medium-gray;
    font-family: $secondary-font;
  }
}

.view {
  font-size: 1.5rem;
}
