.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Low Navbar

.low-navbar {
  padding: 12px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    color: $medium-gray;
    font-size: 0.7rem;
    font-family: $primary-font;
  }
}

.nav-icon {
  color: $medium-gray;
  font-size: 1rem;
}
