.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Low Navbar

.low-navbar {
  padding: 8px 16px;
}

.nav-icon {
  color: $medium-gray;
}
