// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2/dist/css/select2";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/tag_info";
@import "pages/new_tag";
@import "pages/edit_tag";
@import "pages/tags_index";
@import "pages/tag_success";
@import "pages/perfil";

@import "pages/cartao";
@import "components/button";
@import "components/map";
@import "components/sweetalert";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
}
